.carousel {
  &_container {
    margin-top: 30px;
  }

  &_title {
    font-weight: 500;
    opacity: 0.8;
  }
  &_item {
    margin-bottom: 10px;
    display: inline-block;
    width: 200px;
  }
}

.card-header {
  display: -webkit-box;
  line-height: 1.3;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 20px;
  opacity: 0.95;
  height: calc(20px * 1.3 + 15px);
  text-align: start;
  position: relative;
}

.positive {
  color: #0e30ef;
}

.negative {
  color: #f20e0e;
}


@media only screen and (max-width: 480px) {
  .carousel_item{
    width: 175px;
  }
}

@media only screen and (max-width: 600px) {
  .carousel_item{
    width: 150px;
  }
}

@media only screen and (max-width: 768px) {
  .carousel_item{
    width: 150px;
  }
}

@media only screen and (max-width: 868px) {
  .carousel_item{
    width: 200px;
  }
}

@media only screen and (max-width: 1000px) {
  .carousel_item{
    width: 125px;
  }
}
